<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2024 Company, Inc</p>

    <a href="/" class="d-flex logoup align-items-center col-md-3 mb-2 mb-md-0 text-primary text-decoration-none fw-bold pad">
      Notes.
     </a>
   

    <ul class="nav col-md-4 justify-content-end">
      Contact us: +91 134584950
      
    </ul>
  </footer>